.bash_history
.bash_logout
.cache/
.config/
.gnupg/
.httpie/
.john/
.lesshst
.local/
.m2/
.mono/
.mume/
.netrc
.node_repl_history
.npm/
.profile
.pylint.d/
.python_history
.sqlite_history
.sqliterc
.ssh/
.sudo_as_admin_successful
.vim/
.viminfo
.vs-liveshare-keychain
.vscode-server/
.wget-hsts
.yarn/
.yarnrc
Desktop
.awdeorio_dotfiles/
.tldr/
.go/
